<!-- Features -->
<section id="features">
    <div class="container">
        <header>
            <h2>Our youth making <strong>Unanimous Decisions</strong> throughout their lives.</h2>
        </header>
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured banner"><img src="images/image01.jpg" alt="pic01"/></a>
                    <header>
                        <h3>Applying the principles of boxing to life</h3>
                    </header>
                    <p>
                        Applying the skills learned in the boxing ring to everyday life to navigate their
                        environment to build a better life.
                    </p>
                </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured banner"><img src="images/IMG_0648.jpg" alt="pic02"/></a>
                    <header>
                        <h3>Building our communities by example</h3>
                    </header>
                    <p>
                        Teaching our youth how to value themselves
                        and the individuals within their communities through boxing and mentorship.
                    </p>
                </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured banner"><img src="images/IMG_0296.jpg" alt="pic03"/></a>
                    <header>
                        <h3>Building Self-Confidence, Self-Discipline and Self-Respect</h3>
                    </header>
                    <p>
                        Through the sport of boxing we build up our mentors confidence, discipline and respect for themselves
                        and others.
                    </p>
                </section>

            </div>
            <div>
                <section>
                    <p>
                    <p>
                        Unanimous Decisions is a positive youth development juvenile diversion
                        program. We promote positive activities to support essential growth, self-
                        worth, quality relationships, values, and leadership. We assist youth in
                        using critical thinking skills to get the best result out of any situation and
                        enable them to become better students, make career choices, say no to
                        violence, manage anger, resolve conflict, respond to bullying without force,
                        say no to drugs and gangs, and manage relationships.
                    </p>
                    </p>
                </section>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><a href="{{ '/about/' | prepend: site.baseurl }}" class="button icon fa-file">Tell Me More</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
