///
/// Indivisible by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Icons */

    ul.icons {
      list-style: none;
      padding-left: 0;

      > li {
        position: relative;
        padding: 2em 0 0 3em;
        margin: 0;

        &:before {
          position: absolute;
          left: 0;
          top: 2em;
          display: block;
          background: #878787;
          color: #e4e4e4;
          width: 1.65em;
          height: 1.65em;
          border-radius: 1.65em;
          line-height: 1.65em;
          text-align: center;
          box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
        }

        &:first-child {
          padding-top: 0;

          &:before {
            top: 0;
          }
        }
      }
	}

    .icon {
      position: relative;
      text-decoration: none;

      &:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
      }

      > .label {
        display: none;
      }
    }