---
---

@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat:700');

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

// Base.

@import 'base/reset.scss';
//@import 'base/page.scss';
//@import 'base/typography.scss';



// Breakpoints.

@include breakpoints((
        xlarge:  ( 1281px,  1680px ),
        large:   ( 981px,   1280px ),
        medium:  ( 737px,   980px  ),
        small:   ( null,    736px  )
));

body {
  background-color: #0086B3;
}