---
---
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'font-awesome.min.css';
//@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat:700');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/dropotron';
	@import 'components/form';
	@import 'components/features';
	@import 'components/image';
	@import 'components/list';
	@import 'components/links';
	@import 'components/icons';
	@import 'components/table';
	@import 'components/button';

// Layout.

    @import 'layout/actions';
    @import 'layout/about';
    @import 'layout/basic';
    @import 'layout/box';
    @import 'layout/container';
	@import 'layout/wrapper';
	@import 'layout/panel';
	@import 'layout/nav';
	@import 'layout/header';
	@import 'layout/footer';
	@import 'layout/copyright';
	@import 'layout/banner';
	@import 'layout/divided';
	@import 'layout/row';
	@import 'layout/section';

/* Main */

    #main {
      position: relative;
      overflow: hidden;
      background: #fff;
      padding: 6em 0;
    }

// TODO: Figure out if this is needed
    #navPanel, #titleBar {
      display: none;
    }

/* XLarge */

    @include breakpoint('<=xlarge') {}

/* Large */

    @include breakpoint('<=large') {

    /* Main */

    #main {
      padding: 4em 0;
    }

}

/* Medium */

    @include breakpoint('<=medium') {
      #titleBar {
        @include vendor('backface-visibility', 'hidden');
        @include vendor('transition', 'transform #{_duration(navPanel)} ease');
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: _misc(z-index-base) + 1;

        .toggle {
          position: absolute;
          left: 0;
          top: 0;
          width: 80px;
          height: 60px;
          border: 0;

          &:before {
            display: inline-block;
            font-family: FontAwesome;
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: '\f0c9';
            display: block;
            width: 60px;
            height: 40px;
            background: rgba(232, 232, 232, 0.9);
            border-radius: 4px;
            position: absolute;
            left: 5px;
            top: 5px;
            box-shadow: 0.125em 0.125em 0 0 rgba(0, 0, 0, 0.15);
            text-align: center;
            line-height: 40px;
            font-size: 18px;
            color: #aaa;
          }
          &:active:before {
            opacity: 0.5;
          }
        }
      }

      #navPanel {
        @include vendor('backface-visibility', 'hidden');
        @include vendor('transform', 'translateX(#{_size(navPanel) * -1})');
        @include vendor('transition', ('transform #{_duration(navPanel)} ease'));
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: _size(navPanel);
        z-index: _misc(z-index-base) + 2;
        background: #444;
        border-right: solid 2px #3c3c3c;
        font-weight: 400;
        text-transform: uppercase;
        color: #888;
        letter-spacing: 2px;
        font-size: 0.85em;

        .link {
          display: block;
          color: #ddd;
          text-decoration: none;
          height: 44px;
          line-height: 44px;
          border: 0;
          border-top: solid 1px #3c3c3c;
          padding: 0 1em 0 1em;
          &:first-child {
            border-top: 0;
          }
          &.depth-0 {
            font-weight: 600;
            color: #fff;
          }
        }
        .indent-1 {
          display: inline-block;
          width: 1em;
        }
        .indent-2 {
          display: inline-block;
          width: 2em;
        }
        .indent-3 {
          display: inline-block;
          width: 3em;
        }
        .indent-4 {
          display: inline-block;
          width: 4em;
        }
        .indent-5 {
          display: inline-block;
          width: 5em;
        }
        .depth-0 {
          color: #fff;
        }
      }

      body {
        &.navPanel-visible {
          #page-wrapper {
            @include vendor('transform', 'translateX(#{_size(navPanel)})');
          }

          #titleBar {
            @include vendor('transform', 'translateX(#{_size(navPanel)})');
          }

          #navPanel {
            @include vendor('transform', 'translateX(0)');
          }
        }
      }
    }

/* Small */

    @include breakpoint('<=small') {

    /* Main */

    #main {
      padding: 2em 0;
    }
}