/* Copyright */

    #copyright {
      border-top: solid 2px #e5e5e5;
      text-align: center;
      margin-top: 6em;
      padding-top: 4em;

      @include breakpoint('<=xlarge') {}

      @include breakpoint('<=large') {
        margin-top: 2em;
        padding-top: 2em;
      }

      @include breakpoint('<=medium') {}

      @include breakpoint('<=small') {
        .links {
          margin-bottom: 0;

          li {
            display: block;
            padding-left: 0;
            margin-left: 0;
            border-left: 0;
          }
        }
      }
    }