/* Nav */

#nav {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  cursor: default;

  > ul {
    > li {
      display: inline-block;
      padding-right: 2em;

      &:last-child {
        padding-right: 0;
      }

      > a {
        border: 0;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        color: #777;
        outline: 0;
        display: block;

        &:before {
          display: inline-block;
          background: #878787;
          color: #e4e4e4;
          width: 1.65em;
          height: 1.65em;
          border-radius: 1.65em;
          line-height: 1.65em;
          text-align: center;
          box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
          margin-right: 0.75em;
          -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          -ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
        }

        > span {
          -moz-transition: color 0.25s ease-in-out;
          -webkit-transition: color 0.25s ease-in-out;
          -o-transition: color 0.25s ease-in-out;
          -ms-transition: color 0.25s ease-in-out;
          transition: color 0.25s ease-in-out;
          font-size: 0.85em;
          letter-spacing: 3px;
        }
      }

      > ul {
        display: none;
      }

      &.active > a:before,
      &:hover > a:before {
        background: #ED786A;
        color: #fff;
      }

      &.active > a > span,
      &:hover > a > span {
        color: #ED786A;
      }
    }
  }

  @include breakpoint('<=xlarge') {}

  @include breakpoint('<=large') {
    > ul {
      > li {
        padding-right: 1.25em;
      }
    }
  }

  @include breakpoint('<=medium') {
      display: none;
  }

  @include breakpoint('<=small') {}
}